 * {
 /*border: 5px dotted #3A5FCD!important;*/
}
html{
	font-size:10px
}
.clearfix:after{
	content: "";
	display: table;
	clear: both;
}
.right{
	float:right;
}
.left{
	float:left;
}
.container{
	width: 100%;
}
.page{
	height: 100vh;
}
p{
	font-family: 'Montserrat', sans-serif;
}
/*1111111111111111111111111111111111111  FIRST PAGE 111111111111111111111111111111*/
.first-page{
	background: url(media/front.jpg) no-repeat center; /*needs to be stretched*/
	background-size: cover;
    background-attachment: fixed;
	position: relative;
}
.intro{
	max-width: 74rem;
	/*border: 1px red solid;*/
	/*padding: 10rem 10rem 0 7rem;*/
	position: absolute;
	top:25%;
	left:12%;
}
#hey{
	font-size: 10rem;
	font-weight: bold;
	color:white;
}
#name{
	font-size: 5rem;
	font-weight: bold;
	color:#F34E34;
}
#peeing{
	font-size: 2rem;
	color: white;
}
.scroll{
	position: absolute;
	bottom: 2rem;
	right: 7rem;
	font-size: 1.3rem;
	color: white;
}
#arrow-down{
	color:#F34E34;

}
/*2222222222222222222222222222222222222222 SECOND PAGE 2222222222222222222222222222*/
.arrow{
	width: 50%;
	height: 100%;
	text-align: center;
	font-size:12rem;
	color: white;
	background-color:#F34E34;
	position: relative;
}
.arrow div{
	position: absolute;
	top: 35%;
	left: 40%;
}
.design-logos{
	width: 50%;
	height: 100%;
	text-align: center;
	position:relative;
}
.design-n-shit{
	position: absolute;
	top: 35%;
	left:18%;
}
.IDesign{
	font-size: 5rem;
	font-weight: bold;
	color: #F34E34;
}
.nshit{
	font-size: 7rem;
	font-weight: bold;
	color: #F34E34;
}
.face{
	position: absolute;
	bottom: 0;
	right:0;
	padding: 0;
}
.face img{
	height: 17rem;
}
/*3333333333333333333333333333333333333333333333333 THIRD PAGE 3333333333333333333333333333333333333*/
.logo{
	width: 20%;
	height: 25%;
	text-align: center;
	float: left;
}
.logo img{
	/*width: 100%;*/
	height: 100%;
}
/*44444444444444444444444444444444444444444 CONTACT 444444444444444444444444444444444444*/
.contact{
	text-align: center;
}
.hitmeup{
	padding-top: 10rem;
}
.input{
	display: block;
	background-color: #F34E34;
	margin: 6rem auto 2rem;
	padding-left: 1rem;
	width: 40rem;
	color: white;
	font-weight: bold;
	font-size: 1.3rem;
	border: none;
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    text-align: center;
    color:    white;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   text-align: center;
   color:    white;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   text-align: center;
   color: white;
   opacity:  1;

}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   text-align: center;
   color:    white;
}
::-ms-input-placeholder { /* Microsoft Edge */
   text-align: center;
   color:    white;
}
.email{
	height: 3rem;
}
.about{
	height: 14rem;
	margin: 0 auto;
}
textarea{
	padding: 1rem;
}
.submit{
	width: 10rem;
	margin: 2rem auto;
	height: 4rem;
}
/***************************** AFTER SUBMITING ****************/
.error{
	color:red;
	font-weight: bold;
	margin-top: 1rem;
	margin-bottom: 2rem;
	display: block;
}